<section class="body">
    <section class="mb-5">
        <header class="row align-items">
            <app-page-header-component title="النماذج" class="col-12"></app-page-header-component>
            <button class="btn bg-sub col-lg-2 col-sm-12" (click)="addTemplate()"><i class="fa-solid fa-plus"></i>إضافة</button>
        </header>
    </section>

    <section class="section">
        <div class="templates-container d-flex flex-wrap gap-3">
            @for (box of templates; track box.id) {
            <app-template-box-component [header]="box.name"></app-template-box-component>
            }
        </div>
    </section>
</section>