.box {
    background: white;
    width: fit-content;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #cfcfcf;
    transition: 0.3s;
}

.box:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
h3 {
    font-size: 1rem;
}