<mat-sidenav-container>
    <mat-sidenav mode="side" opened fixedInViewport="true" [style.width]="sideNavWidth()">
        <nav>

            <div class="side-btn-container" [class.text-center]="!IsnavigatorsTextVisable()">
                <button class="side-btn" [class.bg-accent]="IsnavigatorsTextVisable()" (click)="collapsed.set(!collapsed())"><i class="fa-solid fa-bars"></i></button>
            </div>
            <ul>
                <a routerLink="add-case" routerLinkActive="bg-accent" class="btn"
                    [ngClass]="!IsnavigatorsTextVisable() ? ['justify-content-center', 'only-icon'] : []">
                    <i class="fa-solid fa-plus"></i>
                    @if (IsnavigatorsTextVisable())
                    {
                    <span>إضافة قضية جديدة</span>
                    }
                </a>
                <a routerLink="cases-list" routerLinkActive="bg-accent" class="btn"
                    [ngClass]="!IsnavigatorsTextVisable() ? ['justify-content-center', 'only-icon'] : []">
                    <i class="fa-solid fa-sheet-plastic"></i>
                    @if (IsnavigatorsTextVisable())
                    {
                    <span>القضايا المستلمة</span>
                    }
                </a>
                <a routerLink="judgments-list" routerLinkActive="bg-accent" class="btn"
                    [ngClass]="!IsnavigatorsTextVisable() ? ['justify-content-center', 'only-icon'] : []">
                    <i class="fa-solid fa-gavel"></i>
                    @if (IsnavigatorsTextVisable()) {

                    <span>القضايا حسب الصكوك</span>
                    }
                </a>
                <a [routerLink]='["draft-cases"]' routerLinkActive="bg-accent" class="btn"
                    [ngClass]="!IsnavigatorsTextVisable() ? ['justify-content-center', 'only-icon'] : []">
                    <i class="fa-brands fa-firstdraft"></i>
                    @if (IsnavigatorsTextVisable()) {
                    <span>القضايا المسودة</span>
                    }
                </a>
                <a routerLink="templates" routerLinkActive="bg-accent" class="btn"
                    [ngClass]="!IsnavigatorsTextVisable() ? ['justify-content-center', 'only-icon'] : []">
                    <i class="fa-solid fa-box"></i>
                    @if (IsnavigatorsTextVisable()) {
                    <span>النماذج</span>
                    }
                </a>
                <a routerLink="employees" routerLinkActive="bg-accent" class="btn"
                    [ngClass]="!IsnavigatorsTextVisable() ? ['justify-content-center', 'only-icon'] : []">
                    <i class="fa-solid fa-users"></i>
                    @if (IsnavigatorsTextVisable()) {
                    <span>إدارة الموظفين</span>
                    }
                </a>
            </ul>

            <div class="logout">
                <a (click)="logout()" class="btn bg-main justify-content-center">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    @if (IsnavigatorsTextVisable()) {
                    <span>تسجيل الخروج</span>
                    }
                </a>
            </div>

        </nav>
    </mat-sidenav>

    <mat-sidenav-content [style.margin-right]="sideNavWidth()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<ngx-spinner bdColor="rgba(0,0,0,0.59)" size="medium" color="#fff" type="square-jelly-box"
    [fullScreen]="true"></ngx-spinner>