<button (click)="sideNav.toggle()"><i class="fa-solid fa-bars"></i></button>
<mat-sidenav-container>
    <mat-sidenav #sideNav mode="side" fixedInViewport="true" class="nav">
            <button (click)="sideNav.close()"><i class="fa-solid fa-bars"></i></button>
            <div class="logo"><i class="fa-solid fa-gavel"></i></div>
            <ul>
                <a class="btn">
                    <i class="fa-solid fa-house"></i> الرئيسية
                </a>
            <a routerLink="add-case" routerLinkActive="bg-accent" class="btn">
                <i class="fa-solid fa-plus"></i> إضافة قضية
                جديدة
            </a>
            <a routerLink="cases-list" routerLinkActive="bg-accent" class="btn">
                <i class="fa-solid fa-sheet-plastic"></i>
                القضايا المستلمة
            </a>
            <a routerLink="judgments-list" routerLinkActive="bg-accent" class="btn">
                <i class="fa-solid fa-gavel"></i> القضايا حسب الصكوك
            </a>
            <a [routerLink]='["draft-cases"]' routerLinkActive="bg-accent" class="btn">
                <i class="fa-brands fa-firstdraft"></i> القضايا المسودة
            </a>
            <a routerLink="employees" routerLinkActive="bg-accent" class="btn">
                <i class="fa-solid fa-users"></i> إدارة
                الموظفين
            </a>
        </ul>
        
        <div class="logout">
            <a (click)="logout()" class="btn bg-main">تسجيل الخروج <i class="fa-solid fa-right-from-bracket"></i></a>
        </div>

    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<ngx-spinner bdColor="rgba(0,0,0,0.59)" size="medium" color="#fff" type="square-jelly-box"
    [fullScreen]="true"></ngx-spinner>