section,
.section {
    border: 1px solid var(--txt);
    border-radius: 10px;
    padding: 1.5rem 1rem;
    margin-bottom: 2rem;
}

h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}


.field {
    margin-bottom: 1rem;
}

.parties-container {
    margin-bottom: 1rem;
}

.parties {
    margin-top: -0.5rem;
    background-color: rgba(186, 186, 186, 0.232);
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
}

.searchbtn {
    height: fit-content;
    align-self: center;
    padding: 0.4rem 1rem;
}

.myrow {
    margin-bottom: 1rem;
    border-bottom: 2px black solid;
}

.disable {
    cursor: no-drop;
    display: d;
}

.lawyer-opnion {
    grid-column: 2 span;
    min-height: 20px;
}

.btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

/* From Uiverse.io by gharsh11032000 */
/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 2.5em;
    height: 1em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: #9fccfa;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
    position: absolute;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1em;
    width: 1em;
    inset: 0;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked+.slider {
    background: #0974f1;
}

.switch input:focus+.slider {
    box-shadow: 0 0 1px var(--primary);
}

.switch input:checked+.slider:before {
    transform: translateX(-1.6em);
}