<app-dialog-header-component [title]="title" (onClose)="dialogRef.close()"></app-dialog-header-component>
<mat-dialog-content>
    <form [formGroup]="employeeForm" id="employeeForm" (ngSubmit)="submit()">
        <div formGroupName="person" class="d-flex row g-3">
            <div class="col-md-4">
                <label class="form-label">الاسم الرباعي</label>
                <input type="text" placeholder="أدخل الاسم الرباعي" formControlName="name"
                    [class.border-error]="(employeeForm.controls.person.controls.name.touched && employeeForm.controls.person.controls.name.invalid)"
                    class="form-control">
                @if (employeeForm.controls.person.controls.name?.touched) {
                <div class="errors" animate.enter="error-animation">
                    @if (employeeForm.controls.person.controls.name?.errors?.['required']) {
                    <p>هاذا الحقل مطلوب</p>
                    }
                    @if (employeeForm.controls.person.controls.name?.errors?.['minlength']) {
                    <p>يجب ان يحتوي الاسم على 3 حروف او اكثر</p>
                    }
                </div>
                }
            </div>
            <div class="col-md-4">
                <label class="form-label">رقم الهوية</label>
                <input type="text" placeholder="أدخل رقم الهوية" formControlName="natId"
                    [class.border-error]="(employeeForm.controls.person.controls.natId.touched && employeeForm.controls.person.controls.natId.invalid) || (IsNatDuplicated() && employeeForm.value.person?.natId === usedNatId)"
                    class="form-control">
                @if (employeeForm.controls.person.controls.natId?.touched) {
                <div class="errors" animate.enter="error-animation">
                    @if (employeeForm.controls.person.controls.natId?.errors?.['required']) {
                    <p>هاذا الحقل مطلوب</p>
                    }
                    @if (employeeForm.controls.person.controls.natId?.errors?.['pattern']) {
                    <p>يجب ان يحتوي رقم الهوية على 10 خانات</p>
                    }
                    @if (IsNatDuplicated() && employeeForm.value.person?.natId === usedNatId){
                    <p>رقم الهوية مستخدم مسبقا</p>
                    }
                </div>
                }
            </div>
            <div class="col-md-4">
                <label class="form-label">الجنسية</label>
                <select formControlName="countryCode"
                    [class.border-error]="(employeeForm.controls.person.controls.countryCode.touched && employeeForm.controls.person.controls.countryCode.invalid)"
                    class="form-select">
                    @for (country of countries; track country.code) {
                    <option [value]="country.code">{{country.name}}</option>
                    }
                </select>
                @if (employeeForm.controls.person.controls.countryCode?.touched) {
                <div class="errors" animate.enter="error-animation">
                    @if (employeeForm.controls.person.controls.countryCode?.errors?.['required']) {
                    <p>هاذا الحقل مطلوب</p>
                    }
                </div>
                }
            </div>
            <div class="col-md-4">
                <label class="form-label">تاريخ الميلاد</label>
                <input type="date" formControlName="birthDate"
                    [class.border-error]="(employeeForm.controls.person.controls.birthDate.touched && employeeForm.controls.person.controls.birthDate.invalid)"
                    class="form-control">
                @if (employeeForm.controls.person.controls.birthDate?.touched) {
                <div class="errors" animate.enter="error-animation">
                    @if (employeeForm.controls.person.controls.birthDate?.errors?.['required']) {
                    <p>هاذا الحقل مطلوب</p>
                    }
                    @if (employeeForm.controls.person.controls.birthDate?.errors?.['minAge']) {
                    <p>يجب ان يكون العمر 18 فما فوق</p>
                    }
                </div>
                }
            </div>
            <div class="col-md-4">
                <label class="form-label">رقم الجوال</label>
                <input type="text" formControlName="phone"
                    [class.border-error]="(employeeForm.controls.person.controls.phone.touched && employeeForm.controls.person.controls.phone.invalid) || (IsPhoneDuplicated() && employeeForm.value.person?.phone === usedPhone)"
                    class="form-control">
                @if (employeeForm.controls.person.controls.phone?.touched) {
                <div class="errors" animate.enter="error-animation">
                    @if (employeeForm.controls.person.controls.phone?.errors?.['required']) {
                    <p>هاذا الحقل مطلوب</p>
                    }
                    @if (employeeForm.controls.person.controls.phone?.errors?.['pattern']) {
                    <p> ادخل رقم هاتف صحيح يبدأ ب 5</p>
                    }
                    @if (IsPhoneDuplicated() && employeeForm.value.person?.phone === usedPhone){
                    <p>رقم الهاتف مستخدم</p>
                    }
                </div>
                }
            </div>
            <div class="col-md-4">
                <label class="form-label">العنوان</label>
                <input type="text" formControlName="address"
                    [class.border-error]="(employeeForm.controls.person.controls.address.touched && employeeForm.controls.person.controls.address.invalid)"
                    class="form-control">
                @if (employeeForm.controls.person.controls.address?.touched) {
                <div class="errors" animate.enter="error-animation">
                    @if (employeeForm.controls.person.controls.address?.errors?.['required']) {
                    <p>هاذا الحقل مطلوب</p>
                    }
                    @if (employeeForm.controls.person.controls.address?.errors?.['minlength']) {
                    <p>يجب ان يكون الحقل اكثر من 10 حروف</p>
                    }
                </div>
                }
            </div>
        </div>
        <div class="row mt-4 mb-2">
            <div class="col-md-6">
                <label class="form-label">البريد الالكتروني</label>
                <input type="text" formControlName="email"
                    [class.border-error]="(employeeForm.controls.email.touched && employeeForm.controls.email.invalid) || (IsEmailDuplicated() && employeeForm.value.email === usedEmail)"
                    class="form-control">
                @if (employeeForm.controls.email?.touched) {
                <div class="errors" animate.enter="error-animation">
                    @if (employeeForm.controls.email?.errors?.['required']) {
                    <p>هاذا الحقل مطلوب</p>
                    }
                    @if (employeeForm.controls.email?.errors?.['email']) {
                    <p>تأكد من كتابة ايميل صحيح</p>
                    }
                    @if (IsEmailDuplicated() && employeeForm.value.email === usedEmail){
                    <p>الايميل مستخدم مسبقا</p>
                    }
                </div>
                }
            </div>
            @if (!mangerUpdate()) {
                <div class="col-md-6 mb-2">
                    <label class="form-label">الدور</label>
                    <select formControlName="role"
                        [class.border-error]="(employeeForm.controls.role.touched && employeeForm.controls.role.invalid)"
                        class="form-select">
                        <option value="مدير تنفيذي">مدير تنفيذي</option>
                        <option value="مستشار">مستشار</option>
                        <option value="محامي">محامي</option>
                    </select>
                    @if (employeeForm.controls.role?.touched) {
                    <div class="errors" animate.enter="error-animation">
                        @if (employeeForm.controls.role?.errors?.['required']) {
                        <p>هاذا الحقل مطلوب</p>
                        }
                    </div>
                    }
                </div>

            }
        </div>


    </form>
</mat-dialog-content>

<mat-dialog-actions class="btn-group d-flex justfiy-content-center gap-3" role="group">
    <button class="btn bg-main " type="submit" form="employeeForm">حفظ العميل</button>
    <button class="btn bg-accent " type="button" mat-dialog-close>إلغاء</button>
</mat-dialog-actions>