<app-dialog-header-component title="تغيير كلمة المرور" (onClose)="dialogRef.close()"></app-dialog-header-component>
<mat-dialog-content>
    <form [formGroup]="frmChangePassword" id="frmChangePassword" class="row d-flex g-3" (ngSubmit)="submit()">

        <div class="col-md-6">
            <label class="form-label">اسم المستخدم</label>
            <input type="text" formControlName="username"
                [class.border-error]="frmChangePassword.controls.username.touched && frmChangePassword.controls.username.invalid"
                class="form-control" />
            @if (frmChangePassword.controls.username.touched) {
            <div class="errors" animate.enter="error-animation">
                @if (frmChangePassword.controls.username.errors?.['required']) {
                <p>هذا الحقل مطلوب</p>
                }
                @if (frmChangePassword.controls.username.errors?.['pattern']) {
                <p>اسم المستخدم غير صالح</p>
                }
            </div>
            }
        </div>

        <div class="col-md-6">
            <label class="form-label">كلمة المرور الحالية</label>
            <input type="password" formControlName="current"
                [class.border-error]="frmChangePassword.controls.current.touched && frmChangePassword.controls.current.invalid"
                class="form-control" />
            @if (frmChangePassword.controls.current.touched) {
            <div class="errors" animate.enter="error-animation">
                @if (frmChangePassword.controls.current.errors?.['required']) {
                <p>هذا الحقل مطلوب</p>
                }
            </div>
            }
        </div>

        <div class="col-md-6">
            <label class="form-label">كلمة المرور الجديدة</label>
            <input type="password" formControlName="new"
                [class.border-error]="frmChangePassword.controls.new.touched && frmChangePassword.controls.new.invalid"
                class="form-control" />
            @if (frmChangePassword.controls.new.touched) {
            <div class="errors" animate.enter="error-animation">
                @if (frmChangePassword.controls.new.errors?.['required']) {
                <p>هذا الحقل مطلوب</p>
                }
                @else if (frmChangePassword.controls.new.errors?.['minLength']) {
                <p>{{frmChangePassword.controls.new.errors?.['minLength'].message}}</p>
                }
                
                @if (frmChangePassword.controls.new.errors?.['digit']) {
                <p>{{frmChangePassword.controls.new.errors?.['digit'].message}}</p>
                } @if (frmChangePassword.controls.new.errors?.['uppercase']) {
                <p>{{frmChangePassword.controls.new.errors?.['uppercase'].message}}</p>
                }
                @if (frmChangePassword.controls.new.errors?.['lowercase']) {
                <p>{{frmChangePassword.controls.new.errors?.['lowercase'].message}}</p>
                }@if (frmChangePassword.controls.new.errors?.['symbol']) {
                <p>{{frmChangePassword.controls.new.errors?.['symbol'].message}}</p>
                }@if (frmChangePassword.controls.new.errors?.['uniqueChars']) {
                <p>{{frmChangePassword.controls.new.errors?.['uniqueChars'].message}}</p>
                }
            </div>
            }
        </div>

    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <input type="submit" value="تحديث كلمة المرور" form="frmChangePassword" class="btn bg-sub col-sm-12">
</mat-dialog-actions>