<section class="section">

  @if (contractsDataSource.data?.length) {
  <header class="d-myflex my-justi mb-2">
    <h3>العقود</h3>
    <button (click)="openAddContract()" class="btn bg-sub">إضافة عقد</button>
  </header>

  <!-- Filter Input -->
  <div class="row justify-content-between mb-3">
    <div class="col-4 mb-2">
      <input type="text" placeholder="ابحث في العقود..." (keyup)="filterContracts($event)" class="form-control">
    </div>
  </div>
  <div class="table-responsive tb-container">
    <table matSort mat-table [dataSource]="contractsDataSource" class="mat-elevation-z8 table">
      <!-- Index Column -->
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let i = index">
          {{ helper.getCurrentRowNumber(i, paginator?.pageIndex || 0, paginator?.pageSize || 20) }}
        </td>
      </ng-container>

      <!-- Contract Number -->
      <ng-container matColumnDef="contractNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>رقم العقد</th>
        <td mat-cell *matCellDef="let element">{{ element.contractNumber }}</td>
      </ng-container>

      <!-- Contract Type -->
      <ng-container matColumnDef="contractType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>نوع العقد</th>
        <td mat-cell *matCellDef="let element"><span appContractType>{{ element.contractType }}</span></td>
      </ng-container>

      <!-- Total Amount -->
      <ng-container matColumnDef="totalAmount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>المبلغ الإجمالي</th>
        <td mat-cell *matCellDef="let element">{{ element.totalAmount }}</td>
      </ng-container>

      <!-- Remaining Amount -->
      <ng-container matColumnDef="restAmount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>المبلغ المتبقي</th>
        <td mat-cell *matCellDef="let element">{{ element.restAmount }}</td>
      </ng-container>

      <!-- Issue Date -->
      <ng-container matColumnDef="issueDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>تاريخ الإصدار</th>
        <td mat-cell *matCellDef="let element">{{ element.issueDate | date:'dd/MM/yyyy' }}</td>
      </ng-container>

      <!-- Expiration Date -->
      <ng-container matColumnDef="expirationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>تاريخ الانتهاء</th>
        <td mat-cell *matCellDef="let element">{{ element.expirationDate | date:'dd/MM/yyyy' }}</td>
      </ng-container>

      <!-- Created By -->
      <ng-container matColumnDef="employeeNameCreatedIt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>منشئ العقد</th>
        <td mat-cell *matCellDef="let element">{{ element.employeeNameCreatedIt }}</td>
      </ng-container>

      <!-- Created Date -->
      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>تاريخ الإنشاء</th>
        <td mat-cell *matCellDef="let element">{{ element.createdDate | date:'dd/MM/yyyy' }}</td>
      </ng-container>

      <!-- Header and Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Pagination -->
    <mat-paginator [pageSizeOptions]="[10, 20, 30, 40, 50]" (page)="handlePage($event)" [pageIndex]="currentPage"
      [length]="contractsDataSource.filteredData.length" pageSize="20">
    </mat-paginator>
  </div>
  } @else {
  <app-empty-table title="لاتوجد عقود مسجلة بعد في هذه القضية"
    msg="لاتوجد عقود مسجلة بعد, يمكنك اضافة واحدة" [hasAction]="true" action="أضف عقد" (actionClicked)="openAddContract()"></app-empty-table>
  }
</section>