<section class="section">
  <header class="d-myflex my-justi mb-2">
    <h3>العقود</h3>
    <button (click)="openAddContract()" class="btn bg-sub">إضافة عقد</button>
  </header>

  <!-- Filter Input -->
  <div class="row justify-content-between mb-3">
    <div class="col-4 mb-2">
      <input type="text" placeholder="ابحث في العقود..." (keyup)="filterContracts($event)" class="form-control">
    </div>
  </div>

  <div class="table-responsive tb-container">
    <table matSort mat-table [dataSource]="contractsDataSource" class="mat-elevation-z8 table">

      <!-- Index Column -->
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let i = index">
          {{ helper.getCurrentRowNumber(i, paginator?.pageIndex || 0, paginator?.pageSize || 20) }}
        </td>
      </ng-container>

      <!-- Contract Number Column -->
      <ng-container matColumnDef="contractNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>رقم العقد</th>
        <td mat-cell *matCellDef="let element"> {{element.contractNumber}} </td>
      </ng-container>

      <!-- Contract Type Column -->
      <ng-container matColumnDef="contractType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>نوع العقد</th>
        <td mat-cell *matCellDef="let element"> <span appContractType>{{element.contractType}}</span></td>
      </ng-container>

      <!-- Header and Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Pagination -->
    <mat-paginator
      [pageSizeOptions]="[10, 20, 30, 40, 50]"
      (page)="handlePage($event)"
      [pageIndex]="currentPage"
      [length]="contractsDataSource.filteredData.length"
      pageSize="20">
    </mat-paginator>
  </div>
</section>
