header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

button {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: linear-gradient(135deg, var(--primary), var(--primary-light));
    color: white;
}