<app-dialog-header-component title="إضافة مرفق جديد" (onClose)="dialogRef.close()"></app-dialog-header-component>
<mat-dialog-content>

    <form [formGroup]="addAttachmentForm" id="addAttachmentForm" (ngSubmit)="submit()">
        <div class="row d-flex g-3">
            <div class="col-md-6">
                <label class="form-label">اسم اdsلمرفق</label>
                <input type="text" formControlName="name"
                    [class.border-error]="(addAttachmentForm.controls.name.touched && addAttachmentForm.controls.name.invalid)"
                    class="form-control" />
                <div class="errors" *ngIf="addAttachmentForm.controls.name.touched" animate.enter="error-animation">
                    <p *ngIf="addAttachmentForm.controls.name?.errors?.['required']">هذا الحقل مطلوب</p>
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-label">مرفق الوكالة</label>
                <input type="file" formControlName="attachmentFile"
                    [class.border-error]="(addAttachmentForm.controls.attachmentFile.touched && addAttachmentForm.controls.attachmentFile.invalid)"
                    class="form-control" />
                <div class="errors" *ngIf="addAttachmentForm.controls.attachmentFile.touched"
                    animate.enter="error-animation">
                    <p *ngIf="addAttachmentForm.controls.attachmentFile?.errors?.['required']">هذا الحقل مطلوب</p>
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <input type="submit" value="رفع المرفق" form="addAttachmentForm" class="btn bg-sub col-sm-12">
</mat-dialog-actions>