.body {
    height: 100vh;
    max-width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--txt);
    padding: 1rem 0.4rem;
    max-height: 100vh;
}

.logo {
    padding: 1rem;
    border-bottom: 1px solid var(--txt);
    margin-bottom: 1.5rem;
}

ul {
    flex: 1;
}


a {
    width: 100%;
    transition: hover 0.3s;
    margin-bottom: 0.2rem;
    padding: 0.3rem 1rem;
    text-align: right;
}

a:hover {
    background-color: var(--accent);
    color: var(--accent-foreground);
}

.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--txt);
}

.logout a {
    margin: 1rem 0.5rem 0;
    padding: 0.5rem;
    text-align: center;
    transition: 0.2s;
}


ngx-spinner {
    /* z-index: 99; */
}
