<section class="section">
  <header class="d-myflex my-justi mb-2">
    <h3>الجلسات</h3>
    <button (click)="openAddSession()" class="btn bg-sub">إضافة جلسة</button>
  </header>

  <!-- Filter Input -->
  <div class="row justify-content-between mb-3">
    <div class="col-4 mb-2">
      <input type="text" placeholder="ابحث في الجلسات..." (keyup)="filterSessions($event)" class="form-control">
    </div>
  </div>

  @if(sessionsDataSource?.data?.length) {
  <div class="table-responsive tb-container">
    <table matSort mat-table [dataSource]="sessionsDataSource" class="mat-elevation-z8 table">

      <!-- Index Column -->
      <ng-container [matColumnDef]="displayedColumns[0]">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let i = index">
          {{ helper.getCurrentRowNumber(i, paginator?.pageIndex || 0, paginator?.pageSize || 20) }}
        </td>
      </ng-container>

      <!-- Session Date Column -->
      <ng-container [matColumnDef]="displayedColumns[1]">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>تاريخ الجلسة</th>
        <td mat-cell *matCellDef="let element">
          {{ element.sessionDate | date:'dd/MM/yyyy' }}
        </td>
      </ng-container>

      <!-- Assigned Employee Column -->
      <ng-container [matColumnDef]="displayedColumns[2]">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>الموظف الموكل</th>
        <td mat-cell *matCellDef="let element">
          {{ element.assignedEmployeeName }}
        </td>
      </ng-container>

      <!-- Created By Column -->
      <ng-container [matColumnDef]="displayedColumns[3]">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>منشئ الجلسة</th>
        <td mat-cell *matCellDef="let element">
          {{ element.createdByEmployeeName }}
        </td>
      </ng-container>

      <!-- Created Date Column -->
      <ng-container [matColumnDef]="displayedColumns[4]">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>تاريخ الإنشاء</th>
        <td mat-cell *matCellDef="let element">
          {{ element.createdDate | date:'dd/MM/yyyy' }}
        </td>
      </ng-container>

      <!-- Header and Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Pagination -->
    <mat-paginator [pageSizeOptions]="[10, 20, 30, 40, 50]" (page)="handlePage($event)" [pageIndex]="currentPage"
      [length]="sessionsDataSource.filteredData.length" pageSize="20">
    </mat-paginator>
  </div>
  } @else {
  <app-empty-table title="لاتوجد جلسات مضافة بعد" msg="لاتوجد جلسات لهذه القضية"></app-empty-table>
  }
</section>