form {
    margin: 1rem;
}
.btns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    grid-column:span 2;
    margin-left: 1rem;
    margin-top: 1rem;
}

.mb {
    margin-bottom: 1rem;
}