<form [formGroup]="clientForm" (submit)="submit()">
    <div formGroupName="person">
        <a class="btn-del" mat-dialog-close><i class="fa-solid fa-xmark"></i></a>
        <h3>إضافة عميل جديد</h3>
        <div class="fields">
            <div class="field mb">
                <label>الاسم الرباعي </label>
                <input type="text" placeholder="أدخل الاسم الرباعي" formControlName="name"
                    [class.border-error]="(clientForm.controls.person.controls.name.touched && clientForm.controls.person.controls.name.invalid) || showErrors">
                <div *ngIf="clientForm.controls.person.controls.name?.touched || showErrors" class="errors"
                    animate.enter="error-animation">
                    <p *ngIf="clientForm.controls.person.controls.name?.errors?.['required']">هاذا الحقل مطلوب</p>
                    <p *ngIf="clientForm.controls.person.controls.name?.errors?.['minlength']">يجب ان يحتوي الاسم على 3
                        حروف
                        او اكثر</p>
                </div>
            </div>
            <div class="field mb">
                <label>رقم الهوية</label>
                <input type="text" placeholder="أدخل رقم الهوية" readonly class="disabled" formControlName="natId">
            </div>
            <div class="field mb">
                <label>الجنسية</label>
                <select formControlName="countryCode"
                    [class.border-error]="(clientForm.controls.person.controls.countryCode.touched && clientForm.controls.person.controls.countryCode.invalid) || showErrors">
                    <option *ngFor="let country of counties" [value]="country.alpha2">{{country.translations.ar}}
                    </option>
                </select>
                <div *ngIf="clientForm.controls.person.controls?.countryCode?.touched || showErrors" class=" errors"
                    animate.enter="error-animation">
                    <p *ngIf="clientForm.controls.person.controls?.countryCode?.errors?.['required']">هاذا الحقل مطلوب
                    </p>
                </div>
            </div>
            <div class="field mb">
                <label>تاريخ الميلاد</label>
                <input type="date" formControlName="birthDate"
                    [class.border-error]="(clientForm.controls.person.controls.birthDate.touched && clientForm.controls.person.controls.birthDate.invalid) || showErrors">
                <div *ngIf="clientForm.controls.person.controls?.birthDate?.touched || showErrors" class=" errors"
                    animate.enter="error-animation">
                    <p *ngIf="clientForm.controls.person.controls?.birthDate?.errors?.['required']">هاذا الحقل مطلوب</p>
                    <p *ngIf="clientForm.controls.person.controls?.birthDate?.errors?.['minAge']">عمر العميل يجب ان يكون اكبر من 18</p>
                </div>
            </div>
            <div class="field mb">
                <label>رقم الجوال</label>
                <ngx-intl-tel-input formControlName="phone" [phoneValidation]="true" [separateDialCode]="true"
                    [preferredCountries]="[clientForm.value.person?.countryCode!.toLowerCase()]"
                    [searchCountryFlag]="true" [phoneValidation]="true" minlength="9" maxlength="15">
                </ngx-intl-tel-input>
                <div *ngIf="clientForm.controls.person.controls?.phone?.touched || showErrors" class=" errors"
                    animate.enter="error-animation">
                    <p *ngIf="clientForm.controls.person.controls?.phone?.errors?.['required']">هاذا الحقل مطلوب</p>
                    <p *ngIf="clientForm.controls.person.controls?.phone?.errors?.['min']">ادخل اكثر من 8 خانات</p>
                    <p *ngIf="clientForm.controls.person.controls?.phone?.errors?.['min']">ادخل اقل من 15 خانة</p>
                </div>
            </div>
            <div class="field mb">
                <label>العنوان</label>
                <input type="text" formControlName="address"
                    [class.border-error]="(clientForm.controls.person.controls.address.touched && clientForm.controls.person.controls.address.invalid) || showErrors">
                <div *ngIf="clientForm.controls.person.controls.address.touched || showErrors" class="errors"
                    animate.enter="error-animation">
                    <p *ngIf="clientForm.controls.person.controls.address?.errors?.['required']">هاذا الحقل مطلوب</p>
                    <p *ngIf="clientForm.controls.person.controls.address.errors?.['minlength']">يجب ان يكون الحقل اكثر
                        من
                        10 حروف</p>
                </div>
            </div>

            <div class="btns">
                <button class="mybtn bg-main" type="submit">حفظ العميل</button>
                <button class="mybtn bg-accent" type="button" mat-dialog-close>إلغاء</button>
            </div>
        </div>
    </div>

</form>