<form [formGroup]="clientForm" (submit)="submit()">
    <a class="btn-del" mat-dialog-close><i class="fa-solid fa-xmark"></i></a>
    <h3>إضافة عميل جديد</h3>
    <h1>{{clientForm .value | json}}</h1>
    <div class="fields">
        <div class="field">
            <label for="fullname">الاسم الرباعي*</label>
            <input type="text" placeholder="أدخل الاسم الرباعي" formControlName="name">
            <div *ngIf="name?.touched" class="text-danger errors">
                <p *ngIf="name?.errors?.['required']">هاذا الحقل مطلوب</p>
                <p *ngIf="name?.errors?.['minlength']">يجب ان يحتوي الاسم على 3 حروف او اكثر</p>
            </div>
        </div>
        <div class="field">
            <label for="natid">رقم الهوية*</label>
            <input type="text" placeholder="أدخل رقم الهوية" readonly formControlName="natId" class="disabled">
        </div>
        <div class="field">
            <label for="CountryCode">الجنسية*</label>
            <select formControlName="countryCode">
                <option value="YE">السعودية</option>
                <option value="SA">مصر</option>
                <option value="EG">سوريا</option>
            </select>
        </div>
        <div class="field">
            <label for="birthdate">تاريخ الميلاد*</label>
            <input type="date" name="birthdate" formControlName="birth">
            <div *ngIf="birthdate?.touched" class="text-danger errors">
                <p *ngIf="birthdate?.errors?.['required']">هاذا الحقل مطلوب</p>
            </div>
        </div>
        <div class="field">
            <label for="phone">رقم الجوال*</label>
            <input type="text" formControlName="phone">
            <div *ngIf="phone?.touched" class="text-danger errors">
                <p *ngIf="phone?.errors?.['required']">هاذا الحقل مطلوب</p>
                <p *ngIf="phone?.errors?.['pattern']">رقم الهاتف يتكون من 10 خانات ويبدا 05</p>
            </div>
        </div>
        <div class="field">
            <label for="address">العنوان</label>
            <input type="text" formControlName="address">
        </div>
        <div class="btns">
            <button class="mybtn bg-main" type="submit">حفظ العميل</button>
            <button class="mybtn bg-accent" type="button" mat-dialog-close>إلغاء</button>
        </div>
    </div>
</form>