<form [formGroup]="clientForm" (submit)="submit()">
    <h1>{{clientForm.controls.person.errors| json}}</h1>
    <div formGroupName="person">
        <a class="btn-del" mat-dialog-close><i class="fa-solid fa-xmark"></i></a>
        <h3>إضافة عميل جديد</h3>
        <h1>{{clientForm.value| json}}</h1>
        <div class="fields">
            <div class="field">
                <label>الاسم الرباعي </label>
                <input type="text" placeholder="أدخل الاسم الرباعي" formControlName="name"
                    [class.border-error]="(clientForm.controls.person.controls.name.touched && clientForm.controls.person.controls.name.invalid) || showErrors">
                <div *ngIf="clientForm.controls.person.controls.name?.touched || showErrors" class="errors"
                    animate.enter="error-animation">
                    <p *ngIf="clientForm.controls.person.controls.name?.errors?.['required']">هاذا الحقل مطلوب</p>
                    <p *ngIf="clientForm.controls.person.controls.name?.errors?.['minlength']">يجب ان يحتوي الاسم على 3
                        حروف
                        او اكثر</p>
                </div>
            </div>
            <div class="field">
                <label>رقم الهوية</label>
                <input type="text" placeholder="أدخل رقم الهوية" class="disabled" formControlName="natId">
            </div>
            <div class="field">
                <label>الجنسية</label>
                <select formControlName="countryCode" [class.border-error]="(clientForm.controls.person.controls.countryCode.touched && clientForm.controls.person.controls.countryCode.invalid) || showErrors">
                    <option value="YE">السعودية</option>
                    <option value="SA">مصر</option>
                    <option value="EG">سوريا</option>
                </select>
                <div *ngIf="clientForm.controls.person.controls?.countryCode?.touched || showErrors" class=" errors"
                    animate.enter="error-animation">
                    <p *ngIf="clientForm.controls.person.controls?.countryCode?.errors?.['required']">هاذا الحقل مطلوب</p>
                </div>
            </div>
            <div class="field">
                <label>تاريخ الميلاد</label>
                <input type="date" formControlName="birthDate"
                    [class.border-error]="(clientForm.controls.person.controls.birthDate.touched && clientForm.controls.person.controls.birthDate.invalid) || showErrors">
                <div *ngIf="clientForm.controls.person.controls?.birthDate?.touched || showErrors" class=" errors"
                    animate.enter="error-animation">
                    <p *ngIf="clientForm.controls.person.controls?.birthDate?.errors?.['required']">هاذا الحقل مطلوب</p>
                </div>
            </div>
            <div class="field">
                <label>رقم الجوال</label>
                <input type="text" formControlName="phone"
                    [class.border-error]="(clientForm.controls.person.controls.phone.touched && clientForm.controls.person.controls.phone.invalid) || showErrors">
                <div *ngIf="clientForm.controls.person.controls?.phone?.touched || showErrors" class=" errors"
                    animate.enter="error-animation">
                    <p *ngIf="clientForm.controls.person.controls?.phone?.errors?.['required']">هاذا الحقل مطلوب</p>
                    <p *ngIf="clientForm.controls.person.controls?.phone?.errors?.['pattern']">رقم الهاتف يتكون من 10
                        خانات
                        ويبدا 05</p>
                </div>
            </div>
            <div class="field">
                <label>العنوان</label>
                <input type="text" formControlName="address"
                    [class.border-error]="(clientForm.controls.person.controls.address.touched && clientForm.controls.person.controls.address.invalid) || showErrors">
                <div *ngIf="clientForm.controls.person.controls.address.touched || showErrors" class="errors"
                    animate.enter="error-animation">
                    <p *ngIf="clientForm.controls.person.controls.address?.errors?.['required']">هاذا الحقل مطلوب</p>
                    <p *ngIf="clientForm.controls.person.controls.address.errors?.['minlength']">يجب ان يكون الحقل اكثر
                        من
                        10 حروف</p>
                </div>
            </div>

            <div class="btns">
                <button class="mybtn bg-main" type="submit">حفظ العميل</button>
                <button class="mybtn bg-accent" type="button" mat-dialog-close>إلغاء</button>
            </div>
        </div>
    </div>

</form>