@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Cairo", sans-serif;
}

:root {
    /* Primary: Dark Blue #1E3A5F */
    --primary: #CC3333FF;
    --primary-foreground: hsl(0 0% 100%);

    /* Secondary: Gray #D9D9D9 */
    --secondary: rgb(29, 64, 98);
    --secondary-foreground: hsl(0, 0%, 86%);

    /* Gold Accent #C9A227 */
    --accent: #EAECEFFF;
    --accent-foreground: rgba(5, 3, 3, 0.792);

    --txt: rgba(191, 191, 191, 0.621)
}


input,
textarea {
    outline: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

textarea {
    min-height: 100px;
}

/* classes */


/*library*/
.fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.field {
    display: flex;
    flex-direction: column;
}


.field-row {
    display: flex;
    flex-direction: row;
}

.flex {
    flex: 1;
}

.myrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.field label {
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

.field label::after {
    content: ' *';
    font-weight: bold;
}


.field input,
.field select,
.field textarea {
    font-size: 0.9rem;
    border-radius: 5px;
    padding: 0.8rem 1rem;
    border: 1.2px solid var(--txt);
    margin-left: 1rem;
    color: rgb(135, 135, 135);
}

.field select {
    height: 50px;

}

.mybtn {
    padding: 0.5rem;
    border-radius: 6px;
}

.btn-del {
    color: red;
    padding: 0.1rem 0.4rem;
    border-radius: 4px;
    transition: 0.3s;
}

.btn-del:hover {
    background-color: var(--accent);

}

.bg-main {
    background-color: var(--primary);
    color: var(--primary-foreground);
}

.bg-sub {
    background-color: var(--secondary);
    color: var(--secondary-foreground);
}

.bg-accent:hover {
    background-color: var(--primary);
    color: var(--primary-foreground);
}

.bg-accent {
    background-color: var(--accent);
    color: var(--accent-foreground);
}

.txt {
    color: var(--txt);
}

.disabled {
    cursor: not-allowed;
    pointer-events: fill;
    opacity: 0.8;
}

.errors {
    margin-top: 0.2rem;
    font-size: 0.8rem;
    font-weight: 700;
    color: rgb(246, 55, 55);
}


@keyframes fadeIn {
    from {
        transform: translateY(-5px);
    }

    to {
        transform: translateY(0);
    }
}

.error-animation {
    animation: fadeIn 0.5s;
}

.field input.border-error,
.field textarea.border-error,
.field select.border-error {
    border: 1px rgb(246, 55, 55) solid;
}

.field input.border-error::placeholder,
.field textarea.border-error {
    color: rgb(246, 55, 55);
}



.loader {
    width: 100%;
    height: 4.8px;
    display: inline-block;
    position: relative;
    background: rgba(255, 255, 255, 0.15);
    overflow: hidden;
}

.loader::after {
    content: '';
    width: 192px;
    height: 4.8px;
    background: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
}

@keyframes animloader {
    0% {
        left: 0;
        transform: translateX(-100%);
    }

    100% {
        left: 100%;
        transform: translateX(0%);
    }
}