@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Cairo", sans-serif;
}

:root {
    /* Primary: Dark Blue #1E3A5F */
    --primary: #CC3333FF;
    --primary-foreground: hsl(0 0% 100%);

    /* Secondary: Gray #D9D9D9 */
    --secondary: rgb(29, 64, 98);
    --secondary-foreground: hsl(0, 0%, 86%);

    /* Gold Accent #C9A227 */
    --accent: #EAECEFFF;
    --accent-foreground: rgba(5, 3, 3, 0.792);

    --txt: rgba(191, 191, 191, 0.621)
}

input {
    outline-color: var(--primary);
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

textarea {
    min-height: 100px;
}

/* classes */


/*library*/
.fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.field {
    display: flex;
    flex-direction: column;
}


.field-row {
    display: flex;
    flex-direction: row;
}

.flex {
    flex: 1;
}

.myrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.field label {
    font-size: 0.7rem;
    margin-bottom: 0.3rem;
}


.field input, .field select, .field textarea {
    font-size: 0.9rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    border: 1.2px solid var(--txt);
    margin-left: 1rem;

}

.field select {
    height: 38px;
    
}

.field input:focus, .field select:focus, .field textarea:focus {
    outline-color: var(--primary);
    outline-width: 3px;
    outline-style: solid;
}


.mybtn {
    padding: 0.5rem;
    border-radius: 6px;
}

.btn-del {
    color: red;
    padding: 0.1rem 0.4rem;
    border-radius: 4px;
    transition: 0.3s;
}

.btn-del:hover {
    background-color: var(--accent);

}

.bg-main {
    background-color: var(--primary);
    color: var(--primary-foreground);
}


.bg-accent {
    background-color: var(--accent);
    color: var(--accent-foreground);
}

.txt {
    color: var(--txt);
}

.disabled {
    pointer-events: fill;
    cursor: not-allowed;
    opacity: 0.8;
}

.errors {
    font-size: 0.8rem;
}
