@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Cairo", sans-serif;
}

:root {
    /* Primary: Dark Blue #1E3A5F */
    --primary: hsl(210 54% 25%);
    --primary-foreground: hsl(0 0% 100%);
    --primary-light: hsl(210 54% 35%);
    --primary-dark: hsl(210 54% 15%);

    /* Secondary: Gray #D9D9D9 */
    --secondary: hsla(0, 0%, 90%, 0.277);
    --secondary-foreground: hsl(210 18% 18%);

    /* Gold Accent #C9A227 */
    --accent: hsl(47 71% 47%);
    --accent-foreground: hsl(0 0% 100%);
    --accent-light: hsl(47 71% 57%);

    --txt: rgba(191, 191, 191, 0.621)
}

input {
    outline-color: var(--primary);
}