<form [formGroup]="employeeForm" (ngSubmit)="submit()">
    <a mat-dialog-close class="btn-del"><i class="fa-solid fa-xmark"></i></a>
    <h3>إضافة موظف جديد</h3>
    <div class="fields mb field">
        <label for="fullname">الاسم الرباعي*</label>
        <input type="text" placeholder="أدخل الاسم الرباعي" formControlName="name">
        <div *ngIf="name?.touched || showErrors" class="text-danger errors">
            <p *ngIf="name?.errors?.['required']">هاذا الحقل مطلوب</p>
            <p *ngIf="name?.errors?.['minlength']">يجب ان يحتوي الاسم على 3 حروف او اكثر</p>
        </div>
    </div>
    <div class="fields field mb">
        <label for="natid">رقم الهوية*</label>
        <input type="text" placeholder="أدخل رقم الهوية" formControlName="natId">
        <div *ngIf="natId?.touched || showErrors" class="text-danger errors">
            <p *ngIf="natId?.errors?.['required']">هاذا الحقل مطلوب</p>
            <p *ngIf="natId?.errors?.['pattern']">يجب ان يحتوي رقم الهوية على 10 خانات</p>
        </div>
    </div>
    <div class="fields field mb">
        <label for="countryId">الجنسية*</label>
        <select formControlName="countryCode">
            <option value="SA">السعودية</option>
            <option value="SA">مصر</option>
            <option value="SA">سوريا</option>
        </select>
    </div>
    <div class="fields field mb">
        <label for="birthDate">تاريخ الميلاد*</label>
        <input type="date" formControlName="birthDate">
        <div *ngIf="birthDate?.touched || showErrors" class="text-danger errors">
            <p *ngIf="birthDate?.errors?.['required']">هاذا الحقل مطلوب</p>
        </div>
    </div>
    <div class="fields field mb">
        <label for="phone">رقم الجوال*</label>
        <input type="text" formControlName="phone">
        <div *ngIf="phone?.touched || showErrors" class="text-danger errors">
            <p *ngIf="phone?.errors?.['required']">هاذا الحقل مطلوب</p>
            <p *ngIf="phone?.errors?.['pattern']">رقم الهاتف يتكون من 10 خانات ويبدا 05</p>
        </div>
    </div>
    <div class="fields field mb">
        <label for="phone">البريد الالكتروني*</label>
        <input type="text" formControlName="email">
        <div *ngIf="email?.touched || showErrors" class="text-danger errors">
            <p *ngIf="email?.errors?.['required']">هاذا الحقل مطلوب</p>
            <p *ngIf="email?.errors?.['email']">تأكد من كتابة ايميل صحيح</p>
        </div>
    </div>
    <div class="fields field mb">
        <label for="address">العنوان</label>
        <input type="text" formControlName="address">
    </div>
    <div class="fields field mb">
        <label for="role">الدور*</label>
        <select formControlName="role">
            <option value="1">مدير عام</option>
            <option value="2">دير تنفيذي</option>
            <option value="3">مستشار</option>
            <option value="4" selected>محامي</option>
        </select>
    </div>
    <div class="btns">
        <button class="mybtn bg-main" type="submit">حفظ العميل</button>
        <button class="mybtn bg-accent" type="button" mat-dialog-close>إلغاء</button>
    </div>
</form>