form {
    margin: 1rem auto;
    width: 95%;
}
.btns {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.mb:not(:last-of-type) {
    margin-bottom: 1rem;
}