<section class="section">

  @if (POAsDataSource?.data?.length) {
  <header class="d-myflex my-justi mb-2">
    <h3>الوكالات</h3>
    <button (click)="openAddPOA()" class="btn bg-sub">إضافة وكالة</button>
  </header>

  <!-- Filter Input -->
  <div class="row justify-content-between mb-3">
    <div class="col-4 mb-2">
      <input type="text" placeholder="ابحث في الوكالات..." (keyup)="filterPOAs($event)" class="form-control">
    </div>
  </div>
  <div class="table-responsive tb-container">
    <table matSort mat-table [dataSource]="POAsDataSource" class="mat-elevation-z8 table">

      <!-- Index Column -->
      <ng-container [matColumnDef]="displayedColumns[0]">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let i = index">
          {{ helper.getCurrentRowNumber(i, paginator?.pageIndex || 0, paginator?.pageSize || 20) }}
        </td>
      </ng-container>

      <!-- POA Number Column -->
      <ng-container [matColumnDef]="displayedColumns[1]">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>رقم الوكالة</th>
        <td mat-cell *matCellDef="let element"> {{element.number}} </td>
      </ng-container>

      <!-- Issue Date Column -->
      <ng-container [matColumnDef]="displayedColumns[2]">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>تاريخ الاصدار</th>
        <td mat-cell *matCellDef="let element"> {{element.createdDate | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <!-- Authorized By Column -->
      <ng-container [matColumnDef]="displayedColumns[3]">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>الجهة المصدرة</th>
        <td mat-cell *matCellDef="let element"> {{element.publisherName}} </td>
      </ng-container>


      <!-- Authorized By Column -->
      <ng-container [matColumnDef]="displayedColumns[4]">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>الموظف</th>
        <td mat-cell *matCellDef="let element"> {{element.creatorName}} </td>
      </ng-container>


      <!-- Authorized By Column -->
      <ng-container [matColumnDef]="displayedColumns[5]">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>تاريخ الانشاء</th>
        <td mat-cell *matCellDef="let element"> {{element.issueDate | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <!-- Remaining Amount -->
      <ng-container [matColumnDef]="displayedColumns[6]">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>الاجراءات</th>
        <td mat-cell *matCellDef="let element">
          <button [matMenuTriggerFor]="menu"><i class="fa-solid fa-ellipsis-vertical"></i></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item class="btn" (click)="download(element)" title="تحميل">
              <i class="fa-solid fa-download"></i>
              تحميل
            </button>
          </mat-menu>

        </td>
      </ng-container>


      <!-- Header and Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Pagination -->
    <mat-paginator [pageSizeOptions]="[10, 20, 30, 40, 50]" (page)="handlePage($event)" [pageIndex]="currentPage"
      [length]="POAsDataSource.filteredData.length" pageSize="20">
    </mat-paginator>
  </div>
  } @else {
  <app-empty-table title="لاتوجد وكالات بعد" [hasAction]="true" (actionClicked)="openAddPOA()" action="أضف وكالة"
    msg="لاتوجد وكالات مسجلة بعد يرجى تسجيل واحدة"></app-empty-table>
  }
</section>