<section class="section">
  <header class="d-myflex my-justi mb-2">
    <h3>الوكالات</h3>
    <button (click)="openAddPOA()" class="btn bg-sub">إضافة وكالة</button>
  </header>

  <!-- Filter Input -->
  <div class="row justify-content-between mb-3">
    <div class="col-4 mb-2">
      <input type="text" placeholder="ابحث في الوكالات..." (keyup)="filterPOAs($event)" class="form-control">
    </div>
  </div>

  <div class="table-responsive tb-container">
    <table matSort mat-table [dataSource]="POAsDataSource" class="mat-elevation-z8 table">

      <!-- Index Column -->
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let i = index">
          {{ helper.getCurrentRowNumber(i, paginator?.pageIndex || 0, paginator?.pageSize || 20) }}
        </td>
      </ng-container>

      <!-- POA Number Column -->
      <ng-container matColumnDef="POAnumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>رقم العقد</th>
        <td mat-cell *matCellDef="let element"> {{element.POAnumber}} </td>
      </ng-container>

      <!-- Issue Date Column -->
      <ng-container matColumnDef="POAissueDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>تاريخ الاصدار</th>
        <td mat-cell *matCellDef="let element"> {{element.POAissueDate}} </td>
      </ng-container>

      <!-- Authorized By Column -->
      <ng-container matColumnDef="authorizedBy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>الجهة المصدرة</th>
        <td mat-cell *matCellDef="let element"> {{element.authorizedBy}} </td>
      </ng-container>

      <!-- Header and Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Pagination -->
    <mat-paginator
      [pageSizeOptions]="[10, 20, 30, 40, 50]"
      (page)="handlePage($event)"
      [pageIndex]="currentPage"
      [length]="POAsDataSource.filteredData.length"
      pageSize="20">
    </mat-paginator>
  </div>
</section>
